@import "settings";
@import "foundation";

header {
  @include grid-row;
  .logo {
    @include grid-column(12);
  }
  nav {
    span{}
  }
}
main {
  @include grid-row;
  article {
    @include grid-column(6);
    p{}
  }
  span{
    @include grid-column(4);
    @include card-container(lightgrey, grey, 10px, 5px, 5px, 3px 3px);
    img{
      padding: .5em;
    }
    #paypal-button-container{
      margin: 0 auto;
      padding: .5em;
    }
  }
  article.trello{
    @include grid-column(12);
  }
  footer{
    @include grid-column(12);
    h4{@include horizontal-center;}
  }

}
